<!DOCTYPE html>
<html>
  <head>
    <title>ViewingPartyLite</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <i><div style="position:fixed; padding: 1em; top: 0; left: 0;">
      <%= link_to "Home", root_path%>
    </div></i>

    <strong><h1 style="font-size: 300%;font-family:courier; text-align:center; color: MAROON">Viewing Party</h1></strong>

    <% flash.each do |type, notice| %>
      <h3><b><%= notice %></b></h3>
    <% end %>

    <%= yield %>
  </body>
</html>
